<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">BilleCAR</h1>
        <div class="row center">
            <h5 class="header col s12 light">System wpólnych dodajazdów pracowników</h5>
        </div>
        <div class="row center">
            <a ng-href="#!/login" class="btn-large waves-effect waves-light orange">Zaloguj</a>
            <a ng-href="#!/register"  class="btn-large waves-effect waves-light orange">Rejestracja</a>
        </div>
        <br><br>

    </div>
</div>


<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">Przyspiesz szukanie pasażerów</h5>

                    <p class="light">Nie musisz już chodzić po firmie i pytać kto chciałby z Tobą jechać, wystarczy, że skorzystasz z naszego systemu!</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">directions_car</i></h2>
                    <h5 class="center">Nie masz samochodu?</h5>

                    <p class="light">To idealne miejsce dla Ciebie. Możesz tu wyszukać przejazdy pracowników swojego oddziału i zarezerwować miejsce, jeżeli trasa Ci odpowiada.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">
                        attach_money</i></h2>
                    <h5 class="center">Oszczędność</h5>

                    <p class="light">Dojeżdzając wpólnie z innymi pracownikami, zmiejszasz koszty podróży do pracy.</p>
                </div>
            </div>
        </div>

    </div>
    <br><br>

    <div class="section">

    </div>
</div>