
<!--
<div class="container">
    <form name="createAnnouncementForm">
    <div class="row">
        <div class="col s10 m8 l12 margin20">
            <div class="form-group">
                <label for="inputStartPlace" class="col-lg-2 control-label">Miejsce startowe</label>
                <div class="col-lg-10">
                    <input type="text" name="StartPlace" class="form-control" ng-model="Ann.StartPlace" id="inputStartPlace" placeholder="Wpisz miejsce startowe" required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEndPlace" class="col-lg-2 control-label">Miejsce docelowe</label>
                <div class="col-lg-10">
                    <input type="text" name="EndPlace" class="form-control" ng-model="Ann.EndPlace" id="inputEndPlace" placeholder="Wpisz miejsce docelowe" required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputFreeSlots" class="col-lg-2 control-label">Liczba wolnych miejsc</label>
                <div class="col-lg-10">
                    <input type="text" name="FreeSlots" class="form-control" ng-model="Ann.FreeSlots" id="inputFreeSlots" placeholder="Wpisz liczbę wolnych miejsc" required>
                </div>
            </div>
            <div class="form-group">
                <label for="select" class="col-lg-2 control-label">Oddział</label>
                <div class="col-lg-10" ng-controller="announcementCreateController">
                    <select class="form-control" name="Department" id="select" ng-model="Ann.DepartmentRefId"
                            ng-options="dp.DepartmentId as dp.Name
                             for
                              dp in deps" required>
                        <option value="">-&#45;&#45;Wybierz oddział-&#45;&#45;</option>
                    </select>
                    <br>
                </div>

                <div class="col-lg-10 col-lg-offset-2 center-align">
                    <button type="reset" class="btn btn-default">Reset</button>
                    <button type="submit" ng-click="CreateAnnouncement(Ann,createAnnouncementForm.$valid)"
                            class="btn btn-primary">Zatwierdź
                    </button>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>
-->


    <div class="row">
        <div class="col s10 offset-s1">
            <form name="createAnnouncementForm" novalidate>
                <div class="card grey lighten-4 large" style="height: 700px;">
                    <div class="card-content " style="height: 90%">
                        <span class="card-title">Stwórz nowe ogłoszenie</span>
                        <div class="row" style="height: 100%">
                            <div class="col s6 valign-wrapper" style="height: 100%">
                                <div class="row" style="width: 100%">
                                    <div class="form-group">
                                        <label for="inputStartPlace" class="col-lg-2 control-label">Miejsce startowe</label>
                                        <div class="col-lg-10">
                                            <input type="text" name="StartPlace" class="form-control" ng-model="Ann.StartPlace" id="inputStartPlace" placeholder="Wpisz miejsce startowe" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEndPlace" class="col-lg-2 control-label">Miejsce docelowe</label>
                                        <div class="col-lg-10">
                                            <input type="text" name="EndPlace" class="form-control" ng-model="Ann.EndPlace" id="inputEndPlace" placeholder="Wpisz miejsce docelowe" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputFreeSlots" class="col-lg-2 control-label">Liczba wolnych miejsc</label>
                                        <div class="col-lg-10">
                                            <input type="text" name="FreeSlots" class="form-control" ng-model="Ann.FreeSlots" id="inputFreeSlots" placeholder="Wpisz liczbę wolnych miejsc" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputWaypoint" class="col-lg-2 control-label">Punkty pośrednie</label>
                                        <div class="col-lg-10">
                                            <input type="text" name="Waypoint" class="form-control" ng-model="Waypoint" ng-change="Decode(Waypoint)" id="inputWaypoint" placeholder="Wpisz miejsce docelowe" >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="select" class="col-lg-2 control-label">Oddział</label>
                                        <div class="col-lg-10" ng-controller="announcementCreateController">
                                            <select class="form-control" name="Department" id="select" ng-model="Ann.DepartmentRefId"
                                                    ng-options="dp.DepartmentId as dp.Name
                             for
                              dp in deps" required>
                                                <option value="">---Wybierz oddział---</option>
                                            </select>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col s6" style="height: 100%">
                                <ng-map zoom="14" id="my-map" center="37.7699298, -122.4469157" style="height:90%" on-click="logLatLng()" >
                                    <directions
                                            draggable="true"
                                            travel-mode="DRIVING"
                                            waypoints="{{ways}}"
                                            origin="{{Ann.StartPlace}}"
                                            destination="{{Ann.EndPlace}}">
                                    </directions>
                                </ng-map>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <button type="reset" class="btn btn-default">Reset</button>
                        <button type="submit" ng-click="Decode(Waypoint)"
                                class="btn btn-primary">Dodaj punkt pośredni
                        </button>
                        <button type="submit" ng-click="CreateAnnouncement(Ann,createAnnouncementForm.$valid)"
                                class="btn btn-primary">Zatwierdź
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>









