<div class="collection" style="border: none">
    <div class="row ">
        <div class="col l12 m12 s12 center-align"><h2>Witaj w systemie BilleCar!</h2></div>
    </div>
    <div class="row ">
        <div class="col l4 m8 s12 offset-m2 offset-l4  center-align">
            <a ng-href="/#!/userMyAnnouncement/{{UsrSignIn.Email}}" class="collection-item"><span class="badge">{{iloscMoich}}</span>Moje ogłoszenia</a>
            <a ng-href="/#!/announcement" class="collection-item"><span class="badge">{{ilosc}}</span>Ogłoszenia w Twoim oddziale</a>
            <a ng-href="/#!/announcement" class="collection-item"><span class="badge">{{anns.length}}</span>Wszystkie ogłoszenia</a>
        </div>
    </div>
    <div class="row">
        <div class="col l12 m12 s12 center-align">
            <a ng-href="#!/announcementCreate" class="waves-effect waves-light btn">Nowe ogłoszenie</a>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m10 offset-m1 l8 offset-l2">
            <ng-map zoom="14" id="my-map" center="37.7699298, -122.4469157" style="height:90%" on-click="logLatLng()" >
                <!--<directions
                        draggable="true"
                        travel-mode="DRIVING"
                        origin="{{Ann.StartPlace}}"
                        destination="{{Ann.EndPlace}}">
                </directions>-->
                <directions ng-repeat="an in anns"
                    draggable="false"
                    travel-mode="DRIVING"
                    origin="{{an.StartPlace}}"
                    destination="{{an.EndPlace}}">

                </directions>
            </ng-map>
           
        </div>
    </div>
</div>
