
<div class="container" ng-show="usr.Email==UsrSignIn.Email">
    <div class="row">
        <div class="col s1 m2 "></div>
        <div class="col s10 m8 l12 z-depth-1 grey lighten-4 margin20" >
            <h3 class="center-align">Twoje ogłoszenia</h3>
            <div class="input-field margin40">
                <input id="search" type="search" ng-model="search" required class="grey lighten-4">
                <label for="search"><i class="material-icons">search</i></label>
                <i class="material-icons icon-close">close</i>
            </div>
            <div class="row">
                <div class="col s12">
                    <a ng-href="#!/announcementCreate" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
                </div>
            </div>
            <table class="highlight">
                <thead>
                <tr>
                    <th ng-click="Sort('AnnouncementId')" class="cursor-default">ID ogłoszenia</th>
                    <th ng-click="Sort('StartPlace')" class="cursor-default">Miejsce startowe</th>
                    <th ng-click="Sort('EndPlace')" class="cursor-default">Miejsce końcowe</th>
                    <th ng-click="Sort('FreeSlots')" class="cursor-default">Ilość wolnych miejsc</th>
                    <th>Dodatkowe</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="an in anns | filter:search | orderBy:key:AscOrDesc">
                    <td>{{ an.AnnouncementId }}</td>
                    <td>{{an.StartPlace}}</td>
                    <td>{{an.EndPlace}}</td>
                    <td>{{an.FreeSlots}}</td>
                    <td class="text-right"><a ng-href="#!/announcementDetail/{{ an.AnnouncementId }}" class="btn btn-primary btn-xs">Szczegóły</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col s1 m2"></div>
    </div>
</div>