.tlo{
    background-color: #512DA8;
}
.navbar-icon{
    margin-left: 10px;
    margin-top: 7px;
}
/*logowanie*/
.kontener{
    margin-top: 20px;
    width: 30%;
}
.login-form{
    padding: 32px 48px 0 48px;
    border: 1px solid #EEE;
}
.padd5{
    padding: 5px;
}
@media only screen and (max-width: 993px){
    .kontener{
        width: 50%;
    }
}
@media only screen and (max-width: 601px){
    .kontener{
        width: 75%;
    }
}
/* lista ogloszen*/
.cursor-default{
    cursor: default;
}
.margin40{
    margin: 40px;
}
.margin20{
    margin: 20px;

}
/* department update */
.right-important{
    text-align: right !important;
}