
<div class="">
    <div class="row">
        <div class="col s1"></div>
        <div class="col s10">




            <form name="updateAnnouncementForm"  novalidate>
            <div class="card grey lighten-4 large">
                <div class="card-content " style="height: 90%">
                    <span class="card-title">Ogłoszenie nr : {{Ann.AnnouncementId}}</span>
                    <div class="row" style="height: 100%">
                        <div class="col s6 valign-wrapper" style="height: 100%">
                            <div class="row" style="width: 100%">
                                <div class="form-group col s12">
                                    <label for="select" class="col-lg-2 control-label">Oddział</label>
                                    <div class="col-lg-10" ng-controller="announcementsUpdateController">
                                        <select class="form-control" name="DepartmentRefId" id="select" ng-model="Ann.DepartmentRefId" ng-options="dp.DepartmentId as dp.Name for dp in deps" required>
                                            <option value="">-&#45;&#45;Wybierz oddział-&#45;&#45;</option>
                                        </select>
                                        <br>
                                    </div>
                                </div>
                                <div class="form-group col s12">
                                    <label for="inputStartPlace" class="col-lg-2 control-label">Miejsce startowe</label>
                                    <div class="col-lg-10">
                                        <input type="text" name="StartPlace" class="form-control" ng-model="Ann.StartPlace" id="inputStartPlace" placeholder="Wpisz miejsce startowe" required>
                                    </div>
                                </div>
                                    <div class="form-group col s12">
                                        <label for="inputEndPlace" class="col-lg-2 control-label">Miejsce docelowe</label>
                                        <div class="col-lg-10">
                                            <input type="text" name="EndPlace" class="form-control" ng-model="Ann.EndPlace" id="inputEndPlace" placeholder="Wpisz miejsce docelowe" required>
                                        </div>
                                    </div>
                                <div class="form-group col s12">
                                    <label for="inputFreeSlots" class="col-lg-2 control-label">Liczba wolnych miejsc</label>
                                    <div class="col-lg-10">
                                        <input type="text" name="FreeSlots" class="form-control" ng-model="Ann.FreeSlots" id="inputFreeSlots" placeholder="Wpisz liczbę wolnych miejsc" required>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col s6" style="height: 100%">
                            <iframe style="width:100%; height: 100%" src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d18864.52285835237!2d20.460370288336375!3d53.770523824474324!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x46e2792d071419c7%3A0x106a8126cf54c20f!2sOlsztyn!3m2!1d53.778422!2d20.4801193!4m5!1s0x46e27f375ab76763%3A0xf2ae572fd310f8fc!2sKortowo%2C+Olsztyn!3m2!1d53.755314999999996!2d20.4561325!5e0!3m2!1spl!2spl!4v1492019715231" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="card-action">
                    <button type="submit" ng-click="UpdateAnnouncement(Ann,updateAnnouncementForm.$valid)" class="btn btn-primary">Zapisz</button>

                </div>
            </div>
        </form>
        </div>
        <div class="col s1"></div>
    </div>
</div>









