

<div class="">
    <div class="row">
        <div class="col s1"></div>
        <div class="col s10">





                        <div class="card grey lighten-4 large">
                            <div class="card-content " style="height: 90%">
                                <span class="card-title">Ogłoszenie nr : {{anns.AnnouncementId}}</span>
                                <div class="row" style="height: 100%">
                                    <div class="col s6 valign-wrapper" style="height: 100%">
                                        <div class="row">
                                            <div class="col s12">
                                                <span>Autor ogłoszenia : {{usrs.Name}} {{usrs.SurName}}</span>
                                            </div>


                                        <div class="col s12">
                                        <span>Nazwa oddziału : {{deps.Name}}</span></div>
                                        <div class="col s12">
                                        <span >Miejsce startowe : {{ anns.StartPlace }}</span></div>
                                        <div class="col s12">
                                        <span >Jade do :  {{ anns.EndPlace }}</span></div>
                                        <div class="col s12">
                                        <span>Liczba wolnych miejsc : {{ anns.FreeSlots }}</span></div>
                                        </div></div>

                                    <div class="col s6" style="height: 100%">
                                        <iframe style="width:100%; height: 100%" src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d18864.52285835237!2d20.460370288336375!3d53.770523824474324!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x46e2792d071419c7%3A0x106a8126cf54c20f!2sOlsztyn!3m2!1d53.778422!2d20.4801193!4m5!1s0x46e27f375ab76763%3A0xf2ae572fd310f8fc!2sKortowo%2C+Olsztyn!3m2!1d53.755314999999996!2d20.4561325!5e0!3m2!1spl!2spl!4v1492019715231" frameborder="0" style="border:0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                            <div class="card-action">
                                <a href="#!/announcementUpdate/{{anns.AnnouncementId}}">Edytuj ogłoszenie</a>
                                <a style="cursor: pointer" ng-click="DeleteAnnouncementById(anns)">Usuń ogłoszenie</a>
                            </div>
                        </div>




        </div>
        <div class="col s1"></div>
    </div>
</div>