

<div ng-show="anns!=null">
    <div class="row">
        <div class="col s1"></div>
        <div class="col s10">





                        <div class="card grey lighten-4 large">
                            <div class="card-content " style="height: 90%">
                                <span class="card-title">Ogłoszenie nr : {{anns.AnnouncementId}}</span>
                                <div class="row" style="height: 100%">
                                    <div class="col s6 valign-wrapper" style="height: 100%">
                                        <div class="row">
                                            <div class="col s12">
                                                <span>Autor ogłoszenia : {{usrs.Name}} {{usrs.SurName}}</span>
                                            </div>


                                        <div class="col s12">
                                        <span>Nazwa oddziału : {{deps.Name}}</span></div>
                                        <div class="col s12">
                                        <span >Miejsce startowe : {{ anns.StartPlace }}</span></div>
                                        <div class="col s12">
                                        <span >Jade do :  {{ anns.EndPlace }}</span></div>
                                        <div class="col s12">
                                        <span>Liczba wolnych miejsc : {{ anns.FreeSlots }}</span></div>
                                        </div></div>


                                        <div class="col s6" style="height: 100%">
                                            <ng-map zoom="14" id="my-map" center="37.7699298, -122.4469157" style="height:90%" on-click="logLatLng()" >
                                                <directions
                                                        draggable="true"
                                                        travel-mode="DRIVING"
                                                        waypoints="{{ways}}"
                                                        origin="{{anns.StartPlace}}"
                                                        destination="{{anns.EndPlace}}">
                                                </directions>
                                            </ng-map>
                                        </div>

                                </div>
                            </div>
                            <div class="card-action">
                                <a ng-show="UsrSignIn.Email==usrs.Email" ng-href="#!/announcementUpdate/{{anns.AnnouncementId}}">Edytuj ogłoszenie</a>
                                <a ng-show="UsrSignIn.Email==usrs.Email || UsrSignIn.Role=='admin'" style="cursor: pointer" ng-click="DeleteAnnouncementById(anns)">Usuń ogłoszenie</a>
                            </div>
                        </div>




        </div>
        <div class="col s1"></div>
    </div>
</div>
